<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
    <div class="nav11">
        <h1> <strong> Medium</strong></h1>
         <h1 id="discover">Discover Stories, Articles And Research Work from Gla Students.</h1>
    </div>
    <br>
<button style="margin-left:20px ;">
    <a href="/comments/new"> Add New Articles</a>
</button>
<br>
<br>
    <div class="main">
        <%for(const comment of comments){%>
            <div class="inner"> 
                </strong> <h1><%=comment.title %> </h1> 
                <p><%=comment.date%></p>
                <h3><%=comment.description%></h3>
                
                <button ><a href="/comments/<%=comment.id%>">Read More</a> </button>
                
                <button><a href="/comments/<%=comment.id%>/edit">Edit</a></button>

                <form action="/comments/<%= comment.id %>?_method=DELETE" method="post">
                    <button> Delete</button>
                </form>
            </div>
           
        <%}%>
    </div>
    <style>
        *{
            margin:0px;
            padding:0;
        }
        .nav11{
            height:120px;
            padding: 20px;
            background-color: rgb(228, 228, 12);
           
        }
        .nav11 h1{
            font-size: xx-large;
        }
        #discover{
            color: rgb(234, 230, 230);
            font-size:xx-large;
        }
        .main{
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;
        }
        .inner{
            border: 1px solid rgba(26, 24, 24, 0.5);
            padding: 10px;
            width: 80%;
        }
        a{
            text-decoration: none;
        }
        button{
            padding: 3px;
            border-radius: 5px;
            margin: 1px;
        }
    </style>  
</body>
</html>